{% extends "_base.html" %}

{% block head %}
<script src=
    "{{ url_for('.static', filename='js/vendor/jquery.js') }}">
</script>
<script src=
    "{{ url_for('.static', filename='galleria/galleria-1.4.2.min.js') }}">
</script>

<style type="text/css">
#galleria {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
    top: 0px;
    bottom: 0px;
}
</style>
{% endblock %}

{% block body %}
<div class="large-12 columns">
    <div class="panel">
        <p>{{ session['user'] }}님 환영합니다!</p>

        <p>사건번호 #{{ no }} 영상 목록</p>
    </div>
</div>

<div class="large-12 columns">
    <div id="gallery">
    {% for image in images %}
        <img src="{{ url_for('.static', filename='img/'+session['user']+'/'+image.filename) }}">
    {% endfor %}
    </div>
</div>
{% endblock %}

{% block script %}
Galleria.loadTheme("{{ url_for('.static', filename='galleria/themes/classic/galleria.classic.min.js') }}");
$('#gallery').galleria({
    responsive: true,
    showCounter: true,
    height: 400
});
{% endblock %}
