{% extends "_base.html" %}

{% block head %}
<style type="text/css">
span.safe {
    color: blue;
}

span.danger {
    color: red;
    font-weight: bolder;
}

#recent-image {
    max-width: 100%;
}

</style>
{% endblock %}

{% block body %}
<div class="large-12 columns">
    <div class="panel">
        <p>{{ session['user'] }}님 환영합니다!</p>

        <!-- 상태 정보 출력-->
        <p>현재 귀하의 댁을 
        {% if user.monitoring -%}
            <span class="safe">안전하게 감시하고</span>
        {% else -%}
            <span class="danger">감시하지 않고</span>
        {% endif %}
         있습니다. ( 침입자 탐지:
        {% if user.intruding -%}
            <span class="danger">예</span>
        {% else -%}
            <span class="safe">아니오</span>
        {% endif -%}
        )
        </p>
    </div>


    <!-- 침입 탐지시 이미지 보여주는 곳 -->
    <div class="row">
        <div class="large-12 medium-12 small-12 columns">
        {% if user.intruding %}
            <p>
                <center>
                <a href="{{ url_for('.page_gallery', no=incident) }} ">
                    영상 목록 보기
                </a>
                </center>
            </p>
        {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="large-2 medium-2 small-2 columns">&nbsp;</div>
        <div class="large-8 medium-8 small-8 columns" id="recent-image"></div>
        <div class="large-2 medium-2 small-2 columns">&nbsp;</div>
    </div>
</div>

{% endblock %}

{% block script %}
$(document).ready(function () {
{% if user.intruding %}
function handle_image() {
    $.getJSON(
        "{{ url_for('api.api_base_image_list', incident_count=incident) }}",
        function(data) {
            var arr = data.result;
            if (arr.length == 0) return;

            var lastsrc = arr[arr.length - 1];
            var img = $('#recent-image');

            img.contents().remove();
            img.html('<img src="'+lastsrc+'">');
        }
    );
}

setInterval(handle_image, 10000);
handle_image();
{% endif %}
});
{% endblock %}
