{% extends "_base.html" %}

{% block body %}
<form action="{{ url_for('.page_login') }}" method="POST">
    <div class="large-12 columns">
        <div class="panel">
            Login please!
        </div>
    </div>

    <div class="row">
        <div class="large-2 medium-2 small-2 columns">&nbsp;</div>
        <div class="large-8 medium-8 small-8 columns">
            <label for="id">ID</label>
            <input type="text" name="id" required/>
        </div>
        <div class="large-2 medium-2 small-2 columns">&nbsp;</div>
    </div>

    <div class="row">
        <div class="large-2 medium-2 small-2 columns">&nbsp;</div>
        <div class="large-8 medium-8 small-8 columns">
            <label for="pw">Password</label>
            <input type="password" name="pw" required/>
        </div>
        <div class="large-2 medium-2 small-2 columns">&nbsp;</div>
    </div>

    <div class="row">
        <div class="large-2 medium-2 small-2 columns">&nbsp;</div>
        <div class="large-4 medium-4 small-4 columns">
            <input type="submit" class="radius button expand"
              value="Login">
        </div>
        <div class="large-4 medium-4 small-4 columns">
            <a href="{{ url_for('.page_register') }}"
              class="radius button expand">Register</a>
        </div>
        <div class="large-2 medium-2 small-2 columns">&nbsp;</div>
    </div>
</form>
{% endblock %}

{% block script %}
$(document).ready(function () {
    $('input[name="id"]').focus();
})
{% endblock %}
